[Unit]
Description=Boletin Backend Service
After=network.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{PROJECT_DIR}}
EnvironmentFile={{PROJECT_DIR}}/.env
ExecStart=/usr/bin/node {{PROJECT_DIR}}/server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
